@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "GOOD VIBRATIONS SCRIPT";
  src: url("../public/fonts/GoodVibrationsScript.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

input,
input::placeholder {
  color: #fff;
}
